<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.0/material.blue-pink.min.css"/>
    <script src="https://storage.googleapis.com/code.getmdl.io/1.0.0/material.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>

    <link rel="stylesheet" href="/css/styles.css"/>
    <script src="/js/init.js"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"/>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"/>
    <script src="/js/highscores.js"/>
</head>

<body>

<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header" ng-app="app">
    <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
            <span class="mdl-layout-title">Play Tic-Tac-Toe! Moves made :&nbsp;</span>
            <span id="currentScore" class="mdl-layout-title">0</span>
            <div class="mdl-layout-spacer"></div>
        </div>
    </header>
    <main class="mdl-layout__content">
        <div class="page-content">
            <div class="mdl-layout__content">
                <input id="c0" type="checkbox"/><label for="c0"></label>
                <input id="c1" type="checkbox"/><label for="c1"></label>
                <input id="c2" type="checkbox"/><label for="c2"></label>
                <input id="c3" type="checkbox"/><label for="c3"></label>
                <input id="c4" type="checkbox"/><label for="c4"></label>
                <input id="c5" type="checkbox"/><label for="c5"></label>
                <input id="c6" type="checkbox"/><label for="c6"></label>
                <input id="c7" type="checkbox"/><label for="c7"></label>
                <input id="c8" type="checkbox"/><label for="c8"></label>

                <div class="demo-card-wide mdl-card mdl-shadow--2dp">
                    <div class="mdl-card__title">
                        <h2 class="mdl-card__title-text">Highscores</h2>
                    </div>
                    <div class="mdl-card__supporting-text" ng-controller="HighScoresController">
                        <table class="mdl-data-table">
                            <thead>
                            <tr>
                                <th>Name</th>
                                <th>Moves</th>
                                <th>Time</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="highScore in highScores">
                                <td>{{ highScore.playerName }}</td>
                                <td>{{ highScore.numberOfSteps }}</td>
                                <td>{{ highScore.timeInSeconds }} sec</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>

</body>
</html>
